body {
	width: 100%;
	font-family: Segoe UI;
	
}

table {
	border-spacing:0;
    border-collapse:collapse;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
	margin-top: 20px;
}

td {
	width: 20px;
	height: 20px;
	border: 1px solid #000000;
	background-color: lightGray;
}

#title {
	/*text-align:center;*/
	width: 100%;
}

.safe {
	background-color: white;
}

.lost {
	background-color: red;
}

